# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Python build files
*.egg-info/
dist/
build/

# Logs
*.log